<ion-view title="Product">
    <ion-content padding="'true'" class="has-header">
        <img ng-src="{{img}}" width="100%" height="auto" style="width: auto; height: 300px;">
        <div class="button-bar">
            <button class="button button-positive button-clear button-block icon ion-android-cart" ng-click="addToCart()"></button>

        </div>
        <div class="list card">
            <div class="item item-divider">Description</div>
            <div class="item item-body">
                <div>
					<p> {{name}}</p>
					<p>Price: ${{price}}</p>
                    <p>{{desc}}</p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
