<ion-view title="Signup">
    <ion-content padding="'true'" scroll="false" class="has-header">
        <form class="list">
            <ion-list>

    <label class="item item-input">
        <span class="input-label">Name</span>
        <input id = 'name' type="text" ng-model="newName" placeholder="first last" required="true">
    </label>
    <label class="item item-input">
        <span class="input-label">Email</span>
        <input id = 'email' type="email" ng-model="newEmail" placeholder="email" required="true">
    </label>
    <label class="item item-input">
        <span class="input-label">User Name</span>
        <input id = 'username' type="text" ng-model="newUsername" placeholder="username" required="true">
    </label>
    <label class="item item-input">
        <span class="input-label">Phone #</span>
        <input id = 'phone' type="text" ng-model="newPhone" placeholder="555-555-5555" required="true">
    </label>
    <label class="item item-input">
        <span class="input-label">City</span>
        <input id = 'city' type="text" ng-model="newCity" placeholder="city" required="true">
    </label>
    <label class="item item-input">
        <span class="input-label">State</span>
        <input id = 'state' type="text" ng-model="newState" placeholder="state" required="true">
    </label>
    <label class="item item-input">
        <span class="input-label">Street Address</span>
        <input id = 'address' type="text" ng-model="newAddress" placeholder="address" required="true">
    </label>
    <label class="item item-input">
        <span class="input-label">Zip</span>
        <input id = 'zip' type="text" ng-model="newZip" placeholder="zip" required="true">
    </label>

    <label class="item item-input">
        <span class="input-label">Password</span>
        <input id = 'pwd1' name="pwd1" type="password" ng-model="pwd1" placeholder="password" required="true">
    </label>
    <label class="item item-input">
        <span class="input-label">Confirm Password</span>
        <input id = 'pwd2' name="pwd2" type="password" ng-model="pwd2" placeholder="confirm password" required="true">
    </label>


    <button ng-click="signup(data)" class="button button-stable button-block ">Sign up</button>
        </form>
    </ion-content>
</ion-view>
